<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper  namespace="com.jtfu.mapper.ArticleMapper">

    <select id="getArticleListPage" resultType="com.jtfu.entity.Article">
        select a.id,title,auth,authId,money,describes,photos,createtime,status,moneynow,IFNULL(b.count,0) replyNum,typeid,jgname,phone,addr from article a
        left join (select articleid,count(1) count from message GROUP BY articleid) b on a.id=b.articleid
        <where>
            <trim>
                <if test="art.status!=null"> and status =#{art.status}</if>
                <if test="art.typeid!=null"> and typeid =#{art.typeid}</if>
                <if test="orderBy !=null ">  order by ${orderBy}</if>
            </trim>
        </where>
        AND a.STATUS >-1
    </select>

</mapper>
